main {
  position: relative;
  top: 8vh;
  height: 100%;
  overflow-y:hidden;
  display: grid;
  grid-template-columns: 5.5% 28.5% 5% 52.5%;
  grid-column-gap: 2%;
  grid-template-rows: auto;
}

#left_side {
  position: relative;
  font-size: 1.2em;
  line-height: 1.1em;
  height: 100%;
  float: left;
}

#left_side > div {
  padding-top: 5%;
}

.project_title {
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
}

.project_year {
  font-size: 1.2vw;
  padding-left: 1%;
}

#right_side {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
}

#right_side img {
  width: 100%;
}

#right_side iframe {
  width: 100% !important;
  height: 60%;
}


.item-1 {
  grid-column: 2 / 2;
}

.item-2 {
  grid-column: 4;
}

@media screen and (max-width: 600px) {
#grid_bg {
 width: 100%;
}

main {
  display: block;
  top: 8vh;
  overflow: auto;
}

  #left_side {
    position: relative;
    width: 90%;
    left: 3vw;
    font-size: 0.9em;
    line-height: 1em;
    padding: 1vh;
  }

  .project_title {
    font-size: 1.6em;
    line-height: 1em;
    text-transform: uppercase;
  }

  .project_year {
    font-size: 3vw;
    padding-left: 1%;
  }

  #right_side {
    top: 2vw;
    width: 100%;
    overflow: visible;
  }

  #right_side iframe {
    width: 90%;
    height: 35%;
  }
}
